{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IMS: Login</title>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap4.3.1.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">
    <script src="{% static 'main/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'main/js/popper.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap4.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'register/css/login.css' %}">
</head>
<body data-new-gr-c-s-check-loaded="14.1028.0" data-gr-ext-installed="">
<div style="display: table-cell; vertical-align: middle;">
    <div class="login-form">
        <form method="post">
            {% csrf_token %}
            <h2 class="text-center">Login</h2>
            <div class="form-group has-error">
                <input type="text" class="form-control textinput textInput" id="id_username" maxlength="150"
                       name="username"
                       placeholder="Username" autocapitalize="none" autofocus required>
            </div>
            <div class="form-group">
                <input type="password" name="password" autocomplete="current-password"
                       class="textinput textInput form-control" placeholder="Password" id="id_password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
            </div>
            <p><a href="#">Lost your Password?</a></p>
        </form>
        <p class="text-center small">Don't have an account? <a href="{% url 'register' %}?next={{request.path}}">Sign up here!</a>
        </p>
    </div>
</div>