<style>
  span {
    width: 110px;
    color: #001829 !important;
    background-color: aliceblue !important;
  }

</style>
<div class="modal fade" id="category_modal" tabindex="-1" aria-labelledby="category_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" data-validate-username-url="{% url 'category' %}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="input-group mb-2">
            <span class="input-group-text" id="lbl_id">ID</span>
            <input type="text" class="form-control" placeholder="ID" aria-label="ID"
                   aria-describedby="lbl_product_id" readonly name="id" id="id">
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text" id="lbl_title">Title</span>
            <input type="text" class="form-control" placeholder="Title" aria-label="Title"
                   aria-describedby="lbl_product_id" required name="title" id="title">
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text" id="lbl_description">Description</span>
            <input type="text" class="form-control" placeholder="Description" aria-label="Description"
                   aria-describedby="lbl_product_id" required name="description" id="description">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" id="btn_save_category">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $('#btn_save_category').click(function(event){
    var form = $(this).closest("form");
    var isvalidate = form[0].checkValidity();
    if (isvalidate) {
      event.preventDefault();
      $.ajax({
        url : form.attr("data-validate-username-url"),
        type : "POST", // http method
        data : form.serialize(),
<!--        data1 : {-->
<!--          name:"name",-->
<!--          csrfmiddlewaretoken: '{{ csrf_token }}' , //This is must for security in Django-->
<!--        }, // data sent with the post request-->

        // handle a successful response
        success : function(response){
          alert(response["id"]);
        },

        // handle a non-successful response
        error : function() {

        }
      });
    }
  });

</script>